{% extends "base.html" %}
{% block body %}
    <h1>Turnier&uuml;bersicht</h1>
    <table class="table">
        <tr>
            <th scope="col">Turnier</th>
            <th scope="col">Datum</th>
        </tr>
        {% for cup in cups %}
        	<tr>
                <td>
                    {% if isinstance(cup, Stadtmeisterschaft) %}
                        <a href="/Turniere/Stadtmeisterschaften#{{ cup.id }}">
                            {{ cup.name }}
                        </a>
                    {% elif isinstance(cup, Vereinspokal) %}
                        <a href="/Turniere/Vereinspokal#{{ cup.id }}">
                            {{ cup.name }}
                        </a>
                    {% elif isinstance(cup, SparkassenJugendOpen) %}
                        <a href="/Turniere/SparkassenJugendOpen#{{ cup.id }}">
                            {{ cup.name }}
                        </a>
                    {% else %}
                        {{ cup.name }}
                    {% endif %}
                </td>
                <td>{{ cup.date.strftime("%d.%m.%Y") }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}