{% extends 'base.html' %}
{% block body %}
	<h1>Sparkassen Jugend Open (Schulschach-Cup)</h1>
    {% for cup in cups %}
        <section>
            <h2>{{ cup.turnier.date.strftime("%Y") }}</h2>
            <p>
                {{ cup.artikel.replace("\n", "</p><p>")|safe }}
                {# TODO: pls remove |safe #}
            </p>
            <br>
            <p>
                Die besten Wittener Sch&uuml;ler in den einzelnen Jahrgangsstufen waren:
            </p>
            <ul style="list-style: none">
                {% for Jahrgang, beste_teilnehmer in cup.beste_teilnehmer.items() %}
                    <li>U {{ Jahrgang }}:
                        {% for teilnehmer in beste_teilnehmer %}
                            {{ teilnehmer.person.surname }} {{ teilnehmer.person.name }} ({{ teilnehmer.verein.name }}){% if loop.index != loop.length %}, {% endif %}
                    {% endfor %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
{% endblock %}