{% extends "base.html" %}
{% block body %}
	<h1>Stadtmeisterschaften</h1>
    {% for cup in cups %}
        <h2>{{ cup.name }}</h2>
        <h3>Teilnehmer</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rang</th>
                    <th scope="col">Name</th>
                    <th scope="col">Verein</th>
                    <th scope="col">DWZ</th>
                    <th scope="col">Punkte</th>
                    <th scope="col">Buchholz Wertung</th>
                </tr>
            </thead>
            <tbody>
                {% for teilnehmer in cup.teilnehmer %}
                    <tr>
                        <td>{{ teilnehmer.rang }}</td>
                        <td>{{ teilnehmer.person.name }}</td>
                        <td>{{ teilnehmer.verein.name }}</td>
                        <td>{{ teilnehmer.dwz }}</td>
                        <td>{{ teilnehmer.punkte }}</td>
                        <td>{{ teilnehmer.buchholz }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Spiele</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th></th>
                    {% for teilnehmer in cup.teilnehmer_liste %}
                        <th scope="col">{{ teilnehmer.rang }}</th>
                    {% endfor %}
                    <th scope="col" rowspan="2" style="writing-mode: vertical-lr; text-orientation: mixed;">Spielfrei</th>
                    <th scope="col" rowspan="2" style="writing-mode: vertical-lr; text-orientation: mixed">Punkte</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Name</th>
                    {% for teilnehmer in cup.teilnehmer_liste %}
                        <th scope="col" style="writing-mode: vertical-lr; text-orientation: mixed">{{ teilnehmer.person.name }}, {{ teilnehmer.person.surname }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for teilnehmer in cup.teilnehmer_liste %}
                    <tr>
                        <th scope="row">{{ teilnehmer.rang }}</th>
                        <th scope="row">{{ teilnehmer.person.name }}, {{ teilnehmer.person.surname }}</th>
                        {% for color, string in teilnehmer.results %}
                            <td{% if col != None %} style="background-color: {{ color }}"{% endif %}>
                                {{ string }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% endfor %}
{% endblock %}