{% extends 'base.html' %}
{% block body %}
    <h1>Vereinspokale</h1>
    {% for cup in cups %}
    	<h2>{{ cup.name }}</h2>
        {% for runde in cup.runden %}
            <div class="card">
                <h3 class="card-header card-title">Runde {{ loop.index }}</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50%">Wei&szlig;</th>
                            <th scope="col" style="width: 3rem"> Ergebnis</th>
                            <th scope="col" style="width: 50%">Schwarz</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for spiel in runde %}
                        	<tr>
                                <td style="background-color: {% if spiel.weiss_gewonnen %}#050{% else %}#500{% endif %}">
                                    {{ spiel.weiss.person.name }}, {{ spiel.weiss.person.surname }}
                                </td>
                                <td style="text-align: center">{% if spiel.weiss_gewonnen %} 1 : 0 {% else %} 0 : 1 {% endif %} </td>
                                <td style="background-color: {% if spiel.weiss_gewonnen %}#500{% else %}#050{% endif %}">
                                    {{ spiel.schwarz.person.name }}, {{ spiel.schwarz.person.surname }}
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        {% endfor %}

    {% endfor %}
{% endblock %}