{% extends 'base.html' %}
{% block body %}
	<h1>{{ person.name }}, {{ person.surname }}</h1>
    {% if person.account %}
        <div id="account">
            <h2>Account</h2>
            <p>Id: {{ person.id }}</p>
            <p>E-Mail: <a href="mailto:{{ person.account.email }}">{{ person.account.email }}</a></p>
            <p>Verifiziert: {% if person.account.is_authenticated %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</p>
        </div>
    {% endif %}
    {% if person.vorstands_rollen %}
        <div id="vorstandsrollen">
            {% if person.vorstands_rollen|length > 1 %}
            	<h2>Vorstandsrollen:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">E-Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rolle in person.vorstands_rollen %}
                        	<tr>
                                <td>{{ rolle.titel }}</td>
                                <td><a href="mailto:{{ rolle.email }}">{{ rolle.email }}</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <h2>Vorstandsrolle: {{ person.vorstands_rollen[0].titel }} (<a href="mailto:{{ person.vorstands_rollen[0].email }}">{{ person.vorstands_rollen[0].email }}</a></h2>
            {% endif %}
        </div>
    {% endif %}
    {% if person.mannschaftsspieler %}
        <div id="mannschaftsspieler">
            <h2>Mannschaftsspieler</h2>
            {% for spieler in person.mannschaftsspieler %}
                <div class="mannschaftsspieler">
                    <h3><a href="/admin/mannschaften">{{ spieler.mannschaft.name }}</a></h3>
                    <p>
                        {% if spieler.ersatz %}
                            Ersatz
                        {% else %}
                            Brett
                        {% endif %}
                        {{ spieler.BrettNr }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if person.stadtmeisterschaft_teilnahmen %}
    	<div id="stadtmeisterschaften">
            <h2>Stadtmeisterschafts-Teilnahmen</h2>
            {% for teilnahme in person.stadtmeisterschaft_teilnahmen %}
                <div class="stadtmeisterschaftsteilnahme">
                    <h3><a href="/admin/turniere/stadtmeisterschaften/{{ teilnahme.turnier.id }}">{{ teilnahme.turnier.turnier.name }}</a></h3>
                    <p>Rang: {{ teilnahme.rang }}</p>
                    <p>DWZ (damals): {{ teilnahme.dwz }}</p>
                    <p>Buchholz: {{ teilnahme.buchholz }}</p>
                    <p>Punkte: {{ teilnahme.punkte }}</p>
                    <p>Verein: <a href="/admin/teams/{{ teilnahme.verein.id }}">{{ teilnahme.verein.name }}</a></p>
                    <p>Freispiele: {{ teilnahme.freispiele }}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Gegner</th>
                                <th scope="col">Ergebnis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for spiel in teilnahme.spiele %}
                                <tr>
                                    {% set other = spiel.get_other(teilnahme) %}
                                    <td><a href="{{ other.person.id }}">{{ other.person.name }}, {{ other.person.surname }}</a></td>
                                    {% set col, string = spiel.get_result_str(teilnahme) %}
                                    <td style="background-color: {{ col }}">{{ string }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if person.sparkassen_jugend_open_teilnahmen %}
    	<h2>Sparkassen Jugend Open Teilnahmen</h2>
        {% for teilnahme in person.sparkassen_jugend_open_teilnahmen %}
        	<h3><a href="/admin/turniere/sparkassen_jugend_open/{{ teilnahme.turnier.id }}">{{ teilnahme.turnier.turnier.name }}</a></h3>
            <p>Punkte: {{ teilnahme.points }}</p>
            <p>Jahrgang: U {{ teilnahme.Jahrgang }}</p>
            <p>Verein: <a href="/admin/teams/{{ teilnahme.verein.id }}">{{ teilnahme.verein.name }}</a></p>
        {% endfor %}

    {% endif %}
{% endblock %}