{% extends 'base.html' %}
{% block body %}
	<h1 id="name">{{ person.name }}, {{ person.surname }} <i class="fa-solid fa-pen btn" onclick="changeName()"></i></h1>
    {% if person.account %}
        <div id="account">
            <h2>Account</h2>
            <p>Id: {{ person.id }}</p>
            <p>E-Mail: <a href="mailto:{{ person.account.email }}">{{ person.account.email }}</a></p>
            <p>Verifiziert: {% if person.account.is_authenticated %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</p>
        </div>
    {% endif %}
    {% if person.vorstands_rollen %}
        <div id="vorstandsrollen">
            {% if person.vorstands_rollen|length > 1 %}
            	<h2>Vorstandsrollen:</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">E-Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rolle in person.vorstands_rollen %}
                        	<tr>
                                <td>{{ rolle.titel }}</td>
                                <td><a href="mailto:{{ rolle.email }}">{{ rolle.email }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>Vorstandsrolle: {{ person.vorstands_rollen[0].titel }} (<a href="mailto:{{ person.vorstands_rollen[0].email }}">{{ person.vorstands_rollen[0].email }}</a>)</h2>
            {% endif %}
        </div>
    {% endif %}
    {% if person.mannschaftsspieler %}
        <div id="mannschaftsspieler">
            <h2>Mannschaftsspieler</h2>
            {% for spieler in person.mannschaftsspieler %}
                <div class="mannschaftsspieler">
                    <h3><a href="/admin/mannschaften">{{ spieler.mannschaft.name }}</a></h3>
                    <p>
                        {% if spieler.ersatz %}
                            Ersatz
                        {% else %}
                            Brett
                        {% endif %}
                        {{ spieler.BrettNr }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        function changeName(){
            const elem = document.getElementById("name");
            elem.innerHTML = "<form><input type='text' value='{{ person.name }}'>, <input type='text' value='{{ person.surname }}'><input type='submit' hidden='hidden'> <form>"
            const form = elem.children[0];
            const nameInput = form.children[0];
            const surnameInput = form.children[1];
            form.addEventListener("submit", (e) => {
                e.preventDefault()
                window.location = `/admin/personen/{{ person.id }}/change_name?surname=${surnameInput.value}&name=${nameInput.value}`
            })
            console.log("changing name")
            console.debug(form)
        }
    </script>
{% endblock %}