{% extends "base.html" %}
{% block body %}
	<h1>Personen</h1>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); gap: 1rem">
    {% for person in people %}
    	<div class="card">
            <div class="card-header">
                <a class="text-reset" href="/admin/personen/{{ person.id }}">{{ person.name }}, {{ person.surname }}</a>
                <i class="fa-solid fa-trash text-reset btn" style="float: right; margin: auto" role="button" onclick="deleteUser({{ person.id }}, '{{ person.name }}', '{{ person.surname }}')"></i>
            </div>
            <ul class="list-group list-group-flush">
                {% if person.vorstands_rollen %}
                    {% for rolle in person.vorstands_rollen %}
                    	<li class="list-group-item"><b>{{ rolle.titel }}</b></li>
                    {% endfor %}
                {% endif %}
                {% if person.mannschaftsspieler %}
                    {% for team in person.mannschaftsspieler %}
                	    <li class="list-group-item">Spielt in <a class="card-link" href="/admin/mannschaften">{{ team.mannschaft.name }}</a> </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endfor %}
        <form class="card" style="display: flex; justify-content: center; align-items: center" action="/admin/personen/add">
            <label>
                Name: <input type="text" name="name" required>
            </label>
            <label>
                Vorname: <input type="text" name="surname" required>
            </label>
            <button class="btn" type="submit">
                <i class="fa-solid fa-user-plus fs-1"></i>
            </button>
        </form>
    </div>
{% endblock %}
{% block javascript %}
	<script>
        function deleteUser(id, name, surname) {
            if (!window.confirm(`Do you really want to delete ${surname} ${name}? This action cannot be undone and will delete any associated data including their Account!`)) {
                return;
            }
            window.location = `/admin/personen/delete?id=${id}`
        }
    </script>
{% endblock %}