{% extends "base.html" %}
{% block body %}
	<h1>Personen</h1>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); gap: 1rem">
    {% for person in people %}
    	<div class="card">
            <div class="card-header"><a class="text-reset" href="/admin/personen/{{ person.id }}">{{ person.name }}, {{ person.surname }}</a></div>
            <ul class="list-group list-group-flush">
                {% if person.mannschaftsspieler %}
                    {% for team in person.mannschaftsspieler %}
                	    <li class="list-group-item">Spielt in <a class="card-link" href="/admin/mannschaften/{{ team.mannschaft.id }}">{{ team.mannschaft.name }}</a> </li>
                    {% endfor %}
                {% endif %}
                {% if person.stadtmeisterschaft_teilnahmen %}
                    {% for teilnahme in person.stadtmeisterschaft_teilnahmen %}
                        <li class="list-group-item">Mitgespielt bei der <a class="card-link" href="/admin/stadtmeisterschaften/{{ teilnahme.turnier.id }}">{{ teilnahme.turnier.turnier.name }}</a></li>
                    {% endfor %}
                {% endif %}
                {% if person.sparkassen_jugend_open_teilnahmen %}
                	{% for teilnahme in person.sparkassen_jugend_open_teilnahmen %}
                		<li class="list-group-item">Teilgenommen am <a class="card-link" href="/admin/sparkassen_jugend_open/{{ teilnahme.turnier.id }}">{{ teilnahme.turnier.turnier.name }}</a> </li>
                	{% endfor %}

                {% endif %}
            </ul>
        </div>
    {% endfor %}
    </div>

{% endblock %}