{% extends "base.html" %}
{% macro generatePersonOptions(selected_id=None) %}
    <label>
        <select>
            {% with persons=Person.query.all() %}
                {% for person in persons %}
                    <option value="{{ person.id }}"{% if selected_id == person.id %} selected="selected"{% endif %}>
                        {{ person.name }}, {{ person.surname }}
                    </option>
                {% endfor %}
            {% endwith %}
        </select>
    </label>
{% endmacro %}
{% macro generate_verein_options(id=None) %}
    <label>
        <select>
            {% with clubs=Verein.query.all() %}
                {% for club in clubs %}
                    <option value="{{ club.id }}"{% if id == club.id %} selected{% endif %}>{{ club.name }}</option>
                {% endfor %}
            {% endwith %}
        </select>
    </label>
{% endmacro %}

{% block head %}
    <style>
        .gameResultSelect {
            -webkit-appearance:none;
            -moz-appearance:none;
            border: none;
            background-color: inherit;
            width: 100%;
            height: 100%
        }
    </style>
{% endblock %}

{% block body %}
	<h1>{{ cup.name }}</h1>
    <h2>Teilnehmer</h2>
    <table class="table table-bordered">
        <thead>
            <th scope="col">Rang</th>
            <th scope="col">Person</th>
            <th scope="col">Verein</th>
            <th scope="col">DWZ</th>
            <th scope="col">Punkte</th>
            <th scope="col">Buchholz Wertung</th>
        </thead>
        <tbody>
            {% for teilnehmer in cup.teilnehmer %}
                <tr>
                    <td><label>
                        <input type="number" style="width: 3rem" min="1" value="{{ teilnehmer.rang }}">
                    </label>
                        </td>
                    <td>
                        <label>
                            {{ generatePersonOptions(teilnehmer.person.id) }}
                        </label>
                    </td>
                    <td>{{ generate_verein_options(teilnehmer.verein.id) }}</td>
                    <td>
                        <label>
                            <input type="number" style="width: 4.5rem" value="{{ teilnehmer.dwz }}">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" style="width: 3rem" min="0.0" value="{{ teilnehmer.punkte }}">
                        </label>
                     </td>
                    <td>
                        <label>
                            <input type="number" style="width: 4rem" value="{{ teilnehmer.buchholz }}">
                        </label>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>+</td>
            </tr>
        </tbody>
    </table>
    <h2>Spiele</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rang</th>
                <th></th>
                {% for teilnehmer in cup.teilnehmer_liste %}
                    <th scope="col">{{ teilnehmer.rang }}</th>
                {% endfor %}
                <th scope="col" rowspan="2" style="writing-mode: vertical-lr; text-orientation: mixed;">Spielfrei</th>
                <th scope="col" rowspan="2" style="writing-mode: vertical-lr; text-orientation: mixed">Punkte</th>
            </tr>
            <tr>
                <th></th>
                <th>Name</th>
                {% for teilnehmer in cup.teilnehmer_liste %}
                    <th scope="col" style="writing-mode: vertical-lr; text-orientation: mixed">{{ teilnehmer.person.name }}, {{ teilnehmer.person.surname }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for teilnehmer in cup.teilnehmer_liste %}
                <tr>
                    <th scope="row">{{ teilnehmer.rang }}</th>
                    <th scope="row">{{ teilnehmer.person.name }}, {{ teilnehmer.person.surname }}</th>
                    {% for color, string in teilnehmer.results %}
                        {% if loop.index != loop.length %}
                        	<td{% if col != None %} style="background-color: {{ color }}"{% endif %}>
                            <label style="width: 100%; height: 100%">
                                <select class="gameResultSelect">
                                    <option value="" {% if string not in ["+", "1", "½", "0", "-"] %} selected{% endif %}></option>
                                    <option {% if string == "+" %} selected{% endif %}>
                                        +
                                    </option>
                                    <option{% if string == "1" %} selected {% endif %}>
                                        1
                                    </option>
                                    <option{% if string == "½" %} selected{% endif %}>
                                        ½
                                    </option>
                                    <option {% if string == "0" %} selected {% endif %}>
                                        0
                                    </option>
                                    <option {% if string == "-" %} selected {% endif %}>
                                        -
                                    </option>
                                </select>
                            </label>
                        </td>
                        {% else %}
                            <td>{{ string }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
