{% extends 'base.html' %}
{% block head %}
	<style>
        .ffa-name-header {
            writing-mode: vertical-lr;
            text-orientation: mixed;
        }
        .won-KL {
            background-color: #0F0 !important;
            border: none;
        }
        .won {
            background-color: #0A0 !important;
            border: none;
        }
        .remi {
            background-color: #AA0 !important;
            border: none;
        }
        .lost {
            background-color: #A00 !important;
            border: none;
        }
        .lost-KL {
            background-color: #F00 !important;
            border: none;
        }
        .ffa-game {
            width: 100%;
            height: 100%
        }
        .ffa-game-self {
            background-color: #00A !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="bp" style="display: none">
        <label>
            <select id="Feinwertungen">
                <option value="Buchholz">Buchhlz</option>
                <option value="SB">SB-Zahl</option>
                <option value="BuchholzBuchholz">Buchhlz-Buchhlz</option>
                <option value="null" selected>---</option>
            </select>
            <select id="all_people">
                {% for person in Person.query.all() %}
                    <option value="{{ person.id }}">{{ person.name }}, {{ person.surname }}</option>
                {% endfor %}
            </select>
            <select id="possible_game_outcomes">
                <option value=""></option>
                <option value="-2">-</option>
                <option value="-1">0</option>
                <option value="0">½</option>
                <option value="1">1</option>
                <option value="2">+</option>
            </select>
            <select id="all_teams">
                {% for team in Verein.query.all() %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <form id="form" method="post" action="/admin/turniere/{{ cup.id }}">
        <div id="general">
            <h1>
                <label>
                        <input type="text" value="{{ cup.name }}" name="name" required>
                </label>
            </h1>
            <label>
                DWZ Anzeigen:
                <input type="checkbox" value="{{ cup.display_dwz }}" id="show-DWZ-Input">
            </label>
            <label>
                Altersgruppen anzeigen:
                <input type="checkbox" value="{{ cup.display_age_group }}" id="show-age-Input">
            </label>
            {# TODO: date input #}
            <label>
                Turnierart:
                <select name="turnier_type" id="turnier-art-select">
                    <option value="K.O."{% if isinstance(cup, KOTurnier) %} selected{% endif %}>K.O. Turnier</option>
                    <option value="Schweizer"{% if isinstance(cup, SchweizerTurnier) %} selected{% endif %}>Schweizer System</option>
                    <option value="jeder gegen jeden"{% if isinstance(cup, FFATurnier) %} selected{% endif %}>Jeder gegen jeden</option>
                </select>
            </label>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Rang</th>
                        <th scope="col">Person</th>
                        <th scope="col">Verein</th>
                        <th scope="col">Punkte</th>
{#                        {% if cup.display_dwz %}#}
{#                            <th scope="col">DWZ</th>#}
{#                        {% endif %}#}
{#                        {% if cup.display_age_group %}#}
{#                            <th scope="col">Altersklasse</th>#}
{#                        {% endif %}#}
                    </tr>
                </thead>
                <tbody id="personen-table-body">
                    <tr>
                        <td rowspan="{% if cup.display_dwz and cup.display_age_group %}6{% elif cup.display_dwz or cup.display_age_group %}5{% else %}4{% endif %}"><button class="btn" onclick="addPerson()" type="button">
                            <i class="fa-solid fa-user-plus fa-xl"></i>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--<table id="legende" class="table table-bordered">
            <thead>
                <tr>
                    <td>Symbol</td>
                    <td>Bedeutung</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>+</td>
                    <td>kampfloser Sieg</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Sieg</td>
                </tr>
                <tr>
                    <td>½</td>
                    <td>Remi</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>Niederlage</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>kampflose Niederlage</td>
                </tr>
            </tbody>
        </table>-->
        <div id="games">
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
{% endblock %}
{% block javascript %}
    <script>
        let Data = {
            "players": [{% for player in cup.teilnehmer %}
                {
                    "id": {{ player.person.id }},
                    "verein": {{ player.verein.id }},
                    "points": {{ player.points }},
                    "freispiel": {{ "true" if player.freispiel else "false" }}
                },{% endfor %}
            ],
            "games": {
                "FFA": [{% if isinstance(cup, FFATurnier) %}{% for player in cup.teilnehmer %}
                	[{% for opponent in cup.teilnehmer %}{% with result=player.get_result_against(opponent) %}
                        "{{ result if result != None else "" }}",
                	{% endwith %}{% endfor %}],
                {% endfor %}{% endif %}]
            },
            "people": [{% for person in Person.query.all() %}
                {
                    "id": {{ person.id }},
                    "name": "{{ person.name }}, {{ person.surname }}",
                },
            {% endfor %}],
            "feinwertungen": [{% for feinwertung in cup.feinwertungen %}"{{ feinwertung.feinwertung }}",{% endfor %}]
        }
        const resultsDataTable = {
            "": {
                "opposite": "",
                "class": "",
                "points": 0,
            },
            "-2": {
                "opposite": "2",
                "class": "lost-KL",
                "points": 0,
            },
            "-1": {
                "opposite": "1",
                "class": "lost",
                "points": 0,
            },
            "0": {
                "opposite": "0",
                "class": "remi",
                "points": .5,
            },
            "1": {
                "opposite": "-1",
                "class": "won",
                "points": 1,
            },
            "2": {
                "opposite": "-2",
                "class": "won-KL",
                "points": 1,
            }
        }
    </script>
    <script src="/static/js/admin/Turnier/FFA.js"></script>
    {# TODO: Schweizer #}
    {# TODO: K.O. #}
    <script src="/static/js/admin/Turnier/common.js"></script>
{% endblock %}