{% extends 'base.html' %}
{% block head %}
	<style>
        .ffa-name-header {
            writing-mode: vertical-lr;
            text-orientation: mixed;
        }
        .won-KL {
            background-color: #0F0 !important;
            border: none;
        }
        .won {
            background-color: #0A0 !important;
            border: none;
        }
        .remi {
            background-color: #AA0 !important;
            border: none;
        }
        .lost {
            background-color: #A00 !important;
            border: none;
        }
        .lost-KL {
            background-color: #F00 !important;
            border: none;
        }
    </style>
{% endblock %}
{% block body %}
    <form id="form" method="post" action="/admin/turniere/{{ cup.id }}">
        <div id="general">
            <h1>
                <label>
                        <input type="text" value="{{ cup.name }}" name="name" required>
                </label>
            </h1>
            {# TODO: date input #}
            <label>
                Turnierart:
                <select name="turnier_type" id="turnier-art-select">
                    <option value="K.O.">K.O. Turnier</option>
                    <option value="Schweizer">Schweizer System</option>
                    <option value="jeder gegen jeden">Jeder gegen jeden</option>
                </select>
            </label>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Rang</th>
                        <th scope="col">Person</th>
                        <th scope="col">Verein</th>
                        <th scope="col">Punkte</th>
                    </tr>
                </thead>
                <tbody id="personen-table-body">
                    <tr>
                        <td><button class="btn" onclick="addPerson()" type="button">
                            <i class="fa-solid fa-user-plus fa-xl"></i>
                        </button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div id="bp" style="display: none">
                <label>
                <select id="all_people">
                    {% for person in Person.query.all() %}
                        <option value="{{ person.id }}">{{ person.name }}, {{ person.surname }}</option>
                    {% endfor %}
                </select>
                <select id="possible_game_outcomes">
                    <option value=""></option>
                    <option value="-2">-</option>
                    <option value="-1">0</option>
                    <option value="0">½</option>
                    <option value="1">1</option>
                    <option value="2">+</option>
                </select>
                <select id="all_teams">
                    {% for team in Verein.query.all() %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </label>
            </div>
        </div>
        <!--<table id="legende" class="table table-bordered">
            <thead>
                <tr>
                    <td>Symbol</td>
                    <td>Bedeutung</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>+</td>
                    <td>kampfloser Sieg</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Sieg</td>
                </tr>
                <tr>
                    <td>½</td>
                    <td>Remi</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>Niederlage</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>kampflose Niederlage</td>
                </tr>
            </tbody>
        </table>-->
        <div id="games">
            {# TODO: game input #}
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
{% endblock %}
{% block javascript %}
	<script>
        const form = document.getElementById("form")
        const personenDiv = document.getElementById("personen-table-body")
        const games = document.getElementById("games")
        const cup_type_input = document.getElementById("turnier-art-select")
        const personDropdownBP = document.getElementById("all_people")
        const teamDropdownBP = document.getElementById("all_teams")
        const resultDropdownBP = document.getElementById("possible_game_outcomes")
        cup_type_input.addEventListener("change", () => {
            switch (cup_type_input.value) {
                case "jeder gegen jeden":
                    renderFFA();
                    break
                default:
                    console.error(`"${cup_type_input}" has no rendering implementation`)
            }
        })
        function addPerson() {
            const addRow = personenDiv.children[personenDiv.children.length - 1];
            const newPerson = document.createElement("tr")
            const personDropdown = personDropdownBP.cloneNode(true)
            const teamDropdown = teamDropdownBP.cloneNode(true)
            newPerson.appendChild(document.createElement("td")).innerText = (personenDiv.children.length - 1).toString()

            personDropdown.name = "teilnehmer" + (personenDiv.children.length - 1);
            personDropdown.id = "";
            personDropdown.addEventListener("change", updatePeople)

            teamDropdown.name = `teilnehmer${personenDiv.children.length - 1}-team`;
            teamDropdown.id = "";

            newPerson.appendChild(document.createElement("td")).appendChild(personDropdown)
            newPerson.appendChild(document.createElement("td")).appendChild(teamDropdown)
            const personTableHeader = personenDiv.parentElement.children[0].children[0]
            for (let i = 4; i < personTableHeader.children.length; i++) {
                newPerson.appendChild(document.createElement("td"));
            }
            personenDiv.insertBefore(newPerson, addRow)
            //TODO: depending on the current cup type change the generated html
            updatePeople()
        }
        function updatePeople() {
            if (cup_type_input.value === "jeder gegen jeden")
                renderFFA()
            //TODO: implement checking and appropriate change of name update method
        }
        function getSelectedPeople() {
            let selectedPeople = []
            for (let i = 0; i < personenDiv.children.length - 1; i++) {
                const elem = personenDiv.children[i].children[1].children[0]
                const selectedOption = elem.options[elem.selectedIndex].text
                selectedPeople.push(selectedOption)
            }
            return selectedPeople
        }
        function renderFFA() {
            let playerIndices = FFAData.player.map((item, index) => index);
            playerIndices = playerIndices.sort((i, j) => FFAData.player[j].points - FFAData.player[i].points)
            FFAData.games = playerIndices.map((i) => FFAData.games[i])
            FFAData.player = playerIndices.map((i) => FFAData.player[i])
            {#FFAData.player = FFAData.player.sort((player1, player2) => player2.points - player1.points)#}
            const table = document.createElement("table");
            table.className = "table table-bordered";
            let selectedPeople = getSelectedPeople()
            // generate top row
            const topRow = document.createElement("tr")
            topRow.innerHTML += "<th>Namen</th>"
            for (let i = 0; i < selectedPeople.length; i++) {
                const currentHeader = document.createElement("th")
                currentHeader.innerText = selectedPeople[i];
                currentHeader.className = "ffa-name-header";
                currentHeader.scope = "col";
                topRow.appendChild(currentHeader);
            }
            topRow.innerHTML += "<th class='ffa-name-header' scope='col'>Spielfrei</th>"
            table.appendChild(topRow)

            // generate rest of table
            for (let i = 0; i < selectedPeople.length; i++) {
                const currentRow = document.createElement("tr");
                const personHeader = document.createElement("th")
                personHeader.innerText = selectedPeople[i];
                personHeader.scope = "row";
                currentRow.appendChild(personHeader)
                for (let j = 0; j < selectedPeople.length; j++) {
                    const currentElement = document.createElement("td");
                    if (i === j) {
                        currentElement.innerText = "X";
                        currentElement.style.background = "#00A";
                    } else {
                        const dropdown = resultDropdownBP.cloneNode(true);
                        dropdown.id = "";
                        dropdown.value = FFAData.games[i][j];
                        dropdown.className = resultsDataTable[dropdown.value].class
                        dropdown.style.width = "100%"
                        dropdown.addEventListener("change", () => {
                            const formattingData = resultsDataTable[dropdown.value]
                            dropdown.className = formattingData.class
                            currentElement.className = formattingData.class
                            table.children[j+1].children[i+1].children[0].value = formattingData.opposite;
                            table.children[j+1].children[i+1].children[0].className = resultsDataTable[formattingData.opposite].class;
                            FFAData.games[i][j] = dropdown.value;
                            FFAData.games[j][i] = formattingData.opposite;
                            FFAData.player[i].points = FFAData.games[i].reduce((sum, game) => sum + resultsDataTable[game].points, 0)
                            FFAData.player[j].points = FFAData.games[j].reduce((sum, game) => sum + resultsDataTable[game].points, 0)
                            reloadPersonTable()
                        })
                        dropdown.name = i < j ? `game ${i}-${j}` : "";
                        currentElement.appendChild(dropdown)
                    }
                    currentRow.appendChild(currentElement)
                }
                const spielfreiInput = document.createElement("input");
                spielfreiInput.type = "checkbox";
                spielfreiInput.name = `player-${i}-spielfrei`
                currentRow.appendChild(document.createElement("td")).appendChild(spielfreiInput)
                table.appendChild(currentRow)
            }
            games.innerHTML = "";
            games.appendChild(table)
        }
        function addPersonInfoColumns(...columnNames) {
            //headers
            const tableHeader = personenDiv.parentElement.children[0].children[0];
            for (let i = 2; i < tableHeader.childNodes.length; i++) {
                tableHeader.removeChild(tableHeader.childNodes[i]);
            }
            for (let i = 0; i < columnNames.length; i++) {
                const header = document.createElement("th");
                header.scope = "col";
                header.innerText = columnNames[i];
                tableHeader.appendChild(header);
            }

            //table body
            for (let i = 0; i < personenDiv.children.length; i++) {
                const currentRow = personenDiv.children[i];
                let counter = 0;
                while (currentRow.children.length > 2) {
                    currentRow.removeChild(currentRow.children[2])
                }
                counter = 0;
                for (let j = 0; j < columnNames.length; j++) {
                    const element = document.createElement("td")
                    element.innerText = columnNames[j];
                    currentRow.appendChild(element);
                    counter++;
                }
            }
        }
        function reloadPersonTable() {
            personenDiv.innerHTML = "";
            if (cup_type_input.value === "jeder gegen jeden") {
                let playerIndices = FFAData.player.map((item, index) => index);
                playerIndices = playerIndices.sort((i, j) => FFAData.player[j].points - FFAData.player[i].points)
                FFAData.games = playerIndices.map((i) => FFAData.games[i])
                FFAData.player = playerIndices.map((i) => FFAData.player[i])
                createAllPerson(FFAData.player)
            }
        }
        function setup(mode) {
            switch (mode) {
                case "FFA":
                    setupFFA()
                    break
            }
        }
        function setupFFA() {
            cup_type_input.value = "jeder gegen jeden"
            createAllPerson(FFAData.player);
            renderFFA();
        }
        function createAllPerson(people) {
            for (let i = 0; i < people.length; i++) {
                const person = people[i];
                const addRow = personenDiv.children[personenDiv.children.length - 1];
                const newPerson = document.createElement("tr")
                const personDropdown = personDropdownBP.cloneNode(true)
                const teamDropdown = teamDropdownBP.cloneNode(true)
                newPerson.appendChild(document.createElement("td")).innerText = i + 1

                personDropdown.name = "teilnehmer" + (i);
                personDropdown.id = "";
                personDropdown.value = people[i].id;
                personDropdown.addEventListener("change", updatePeople)

                teamDropdown.name = `teilnehmer${i}-team`;
                teamDropdown.id = "";
                teamDropdown.value = person.verein

                newPerson.appendChild(document.createElement("td")).appendChild(personDropdown)
                newPerson.appendChild(document.createElement("td")).appendChild(teamDropdown)
                newPerson.appendChild(document.createElement("td")).innerText = person.points
                const personTableHeader = personenDiv.parentElement.children[0].children[0]
                for (let j = 4; j < personTableHeader.children.length; j++) {
                    newPerson.appendChild(document.createElement("td"));
                }
                personenDiv.insertBefore(newPerson, addRow)
            }
        }
    </script>
    <script>
        const resultsDataTable = {
            "": {
                "opposite": "",
                "class": "",
                "points": 0,
            },
            "-2": {
                "opposite": "2",
                "class": "lost-KL",
                "points": 0,
            },
            "-1": {
                "opposite": "1",
                "class": "lost",
                "points": 0,
            },
            "0": {
                "opposite": "0",
                "class": "remi",
                "points": .5,
            },
            "1": {
                "opposite": "-1",
                "class": "won",
                "points": 1,
            },
            "2": {
                "opposite": "-2",
                "class": "won-KL",
                "points": 1,
            }
        }
        let FFAData = {
            {% if isinstance(cup, FFATurnier) %}
                "player": [
                    {% for player in cup.teilnehmer %}
                        {
                            "id": {{ player.id }},
                            "verein": {{ player.verein.id }},
                            "points": {{ player.points }}
                        },
                    {% endfor %}
                ],
                "games": [
                    {% for player in cup.teilnehmer %}
                        {% set outer_loop=loop %}
                        [
                            {% for opponent in cup.teilnehmer %}
                                {% set result=player.get_result_against(opponent) %}
                                "{{ result if result != None else '' }}",
                            {% endfor %}
                        ],
                    {% endfor %}
                ],
            {% else %}
                "player": [],
                "games": [],
            {% endif %}
        }

        {% if isinstance(cup, FFATurnier) %}
            setupFFA();
        {% endif %}
    </script>
{% endblock %}