{% extends 'base.html' %}
{% block body %}
	<h1>Turniere</h1>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); gap: 1rem">
        {% for cup in cups %}
        	<div class="card">
                <div class="card-header card-title">
                        <a href="/admin/turniere/{{ cup.id }}">{{ cup.name }}</a>
                    <input type="submit" HIDDEN="hidden">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}