{% extends "Flask internals/base.html" %}
{% block body %}
	<h1>Login</h1>
    <form method="post">
        <label class="form-label" for="email">
            Email:
        </label>
        <input type="email" class="form-control" name="email" id="email" required>
        <label class="form-label" for="password">
            Password:
        </label>
        <input type="password" id="password" class="form-control" name="password" required>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>

    <a href="/signup">
    Noch kein Account?
    </a>
{% endblock %}